<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.galaw">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/galawiconlogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".actStressHeal4"></activity>
        <activity android:name=".DiaryHome" />
        <activity android:name=".klinikYarsi" />
        <activity android:name=".actAnxietyHeal" />
        <activity android:name=".actEduAnxiety" />
        <activity android:name=".actResultAnxiety" />
        <activity android:name=".actAllTest" />
        <activity android:name=".actWebView" />
        <activity android:name=".actAnxiety" />
        <activity android:name=".actAsk" />
        <activity android:name=".actDepresiHeal1" />
        <activity android:name=".actDepression" />
        <activity android:name=".actDiary" />
        <activity android:name=".actEdit" />
        <activity android:name=".actEditProfile" />
        <activity android:name=".actLogin" />
        <activity android:name=".actMentalDef" />
        <activity android:name=".actQuizAnxiety" />
        <activity android:name=".actQuizDepresi" />
        <activity android:name=".actQuizReport" />
        <activity android:name=".actQuizStress" />
        <activity android:name=".actQuotes2" />
        <activity android:name=".actResult" />
        <activity android:name=".actResultDepresi" />
        <activity android:name=".actResultStress" />
        <activity android:name=".actStress" />
        <activity android:name=".actStressHeal1" />
        <activity android:name=".actStressHeal2" />
        <activity android:name=".actStressHeal3" />
        <activity android:name=".Splash" />
        <activity android:name=".note.NoteDetails" />
        <activity android:name=".note.EditNote" />
        <activity
            android:name=".actSignUp"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".actHome" />
        <activity
            android:name=".note.AddNote"
            android:label="@string/title_activity_add_note"
            android:parentActivityName=".DiaryHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.galaw.DiaryHome" />
        </activity>
    </application>

</manifest>